doctype html
html
  head
    title Workout planer
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h2 Workout planer
    .container
      ul.menu
        li 
          a(href='/') Show Workouts
        li 
          a(href='/workout/add') add Workout
      main
        block content
    footer
      h4 Made by Lucas Iversen